<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
   Animes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar  mode="ios">
      <ion-title size="large">Animes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list mode="ios" >
    <ion-item color="warning">
      <ion-label>Sakamoto Days </ion-label>
      <ion-badge color="primary">22 Ep</ion-badge>
    </ion-item>
    <ion-item color="success">
      <ion-label>Jujutsu Kaisen</ion-label>
      <ion-badge color="secondary">24 Ep</ion-badge>
    </ion-item>
    <ion-item color="secondary">
      <ion-label>Ranma</ion-label>
      <ion-badge color="tertiary">161 Ep</ion-badge>
    </ion-item>
    <ion-item color="danger">
      <ion-label>Naruto</ion-label>
      <ion-badge color="success">720 Ep</ion-badge>
    </ion-item>
    <ion-item color="primary">
      <ion-label>Demon Slayer</ion-label>
      <ion-badge color="warning">206 Ep</ion-badge>
    </ion-item>
    <ion-item color="tertiary">
      <ion-label>Kamisama kiss</ion-label>
      <ion-badge color="danger">149 Ep</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
