<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>Radio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">radio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-radio-group mode="ios" value="success">
    <ion-radio value="grapes">Grapes</ion-radio><br />
   
    <ion-radio value="strawberries">Strawberries</ion-radio><br />
   
    <ion-radio value="pineapple">Pineapple</ion-radio><br />
  
    <ion-radio value="cherries">Cherries</ion-radio>
  
  </ion-radio-group>
  <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>
<ion-progress-bar type="indeterminate" color="secondary"></ion-progress-bar>
<ion-progress-bar type="indeterminate" color="tertiary"></ion-progress-bar>
<ion-progress-bar type="indeterminate" color="success"></ion-progress-bar>
<ion-progress-bar type="indeterminate" color="warning"></ion-progress-bar>
<ion-progress-bar type="indeterminate" color="danger"></ion-progress-bar>
<ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
<ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
<ion-progress-bar type="indeterminate" color="dark"></ion-progress-bar>
</ion-content>
