<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]= "true">
    <form #tangamandapio= "ngForm" (ngSubmit)= "login(tangamandapio)">
  <ion-item>
    <ion-input name="email" [(ngModel)]= "email" label="Correo electronico" labelPlacement="floating" type="email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input name="password" [(ngModel)]= "password" label="Contraseña" labelPlacement="floating" type="Password" required></ion-input>
  </ion-item>
  <br>
  <ion-button type="submit" expand="block" >
    Ingresar 
  </ion-button>
</form>
</ion-content>
